* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* color: #8790af; */
}

.bg {
  color: rgb(233, 6, 6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)), url("assets/meat-3.jpg");
  height: 100vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  overflow: hidden;
}

ul {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
  padding: 8px;
}

a {
  font-size: 20px;
  text-decoration: none;
  /* color: #f8c7a2; */
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

a:hover {
  padding: 2px 0;
  border-bottom: 1px solid #ffffff;
  /* #eb190a; */
}

.top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  padding: 10px;
}

.icon {
  color: eb190a;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: red;
  font-size: 15px;
  background: rgb(252, 252, 252);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.signup-btn:hover {
  background: #f02d13;
  text-decoration: none;
  color: rgb(253, 206, 162);
}

.check-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: red;
  font-size: 15px;
  background: rgb(252, 252, 252);
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}
 
.check-btn:hover {
  background-color: yellow;
  color: black;
}

.header-text {
  text-align: center;
  color: rgb(240, 241, 241);
  padding: 120px 0 30px 0;
  width: 50%;
  margin: auto;
}

.icon {
  font-family: cursive;
  color: #eb190a;
  font-size: 40px;
  font-weight: 700;
}

.header-text p {
  font-size: 24px;
  color: #ffffff;
}

.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-text {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  margin: auto;
  line-height: 22px;
  text-align: center;
}

.about-text h3 {
  padding: 12px;
  font-size: 24px;
  color: rgb(101, 27, 27);
}

.new-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgb(238, 8, 8);
}

.new-item-text {
  padding: 50px;
  color: white;
}

.text {
  text-align: left;
  padding: 10px 0;
}

.text h3 {
  padding: 14px 0;
  color: yellow;
}

img {
  width: 100%;
}

.img {
  width: 50%;
  /* height: 50% */
}

.services {
  padding: 120px 30px;
  text-align: center;
  margin: auto;
}

.service-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.service-card {
  height: 350px;
  width: 370px;
  background-color: wheat;
  border-radius: 10px;
  font-weight: bold;
}

.service-card p {
  margin-left: 10px;
}


.service-card h3 {
  color: rgb(101, 27, 27);
  padding: 10px 0;
}

.services h2 {
  padding: 30px 0;
  color: rgb(101, 27, 27);
  
}

 .service-card img {
 width: 100%;
 height: 250px;
border-radius: 10px 10px 0 0;
} 

.service-bottom-line {
display: flex;
justify-content: center;
}

.more-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  font-family: Arial;
  background-color: #f02d13;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-decoration: none;
  /* border: 2px dotted solid; */
  margin-left: 10px;
}

.more-btn:hover {
  text-decoration: none;
color: white;
}

.products {
padding-top: 50px ;
background-color: wheat;
width: 100%;
margin: auto;
}

.products h2 {
  color: rgb(101, 27, 27);
  text-align: center;
  padding-bottom: 30px;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  margin-left: 20px;
}



.product-card img {
  width: 90%;
  height: 50%;
  border-radius: 10px;
}

.product-card h3 {
  color: rgb(132, 10, 10);
  text-align: center;
}

.team-section {
  margin-top: 75px;
}

.team-title {
color: rgb(101, 27, 27);

text-align: center;
}

.team-cards {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.team-card {
  /* border-radius: 50px; */
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  margin: 0px 20px;
  padding: 20px;
  text-align: center;
}


.team-image img{
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
  object-fit: cover;
}

.team-detail h3 {
  /* font-size: 30px; */
  margin: 15px 0px;
}